Checks: "bugprone-*,
  cppcoreguidelines-*,
  llvm-*,
  -warnings-as-errors,
  performance-*,
  -modernize-use-nodiscard,
  readability-*,
  clang-analyzer-core.*,
  clang-analyzer-cplusplus.*,
  clang-analyzer-nullability.*,
  bugprone-narrowing-conversions,
  bugprone-switch-missing-default-case,
  bugprone-reserved-identifier,
  -bugprone-macro-parentheses,
  -bugprone-easily-swappable-parameters,
  -bugprone-branch-clone,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-init-variables,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-virtual-class-destructor,
  -cppcoreguidelines-pro-type-member-init,
  -cppcoreguidelines-owning-memory,
  -readability-convert-member-functions-to-static,
  -readability-function-cognitive-complexity,
  -readability-make-member-function-const,
  -readability-magic-numbers,
  -readability-identifier-length,
  -performance-enum-size,
  -*-non-private-member-variables-in-classes,
  -*-enum-initial-value,
  -modernize-use-auto,
  -*-pro-bounds-constant-array-index,
  -readability-uppercase-literal-suffix,
  -readability-use-anyofallof,
  -*-pro-type-const-cast,
  -*-pro-type-reinterpret-cast,
  -llvm-header-guard,
  -llvm-else-after-return,
  -*-unhandled-self-assignment,
  -*-use-enum-class,
  -*-use-ranges,
  -readability-else-after-return,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-type-cstyle-cast,
  -readability-redundant-declaration,
  -*-return-braced-init-list,
  readability-identifier-naming,
  -*-pro-bounds-avoid-unchecked-container-access,
  -*-unnecessary-value-param"
WarningsAsErrors: "*"
HeaderFilterRegex: 'src/.*'
ExcludeHeaderFilterRegex: '(^|.*/)(maszyna-mover|gen|godot-cpp)/'
RemovedArgs:
  - '-fno-gnu-unique'
CheckOptions:
  - key: bugprone-reserved-identifier.AllowedIdentifiers
    value: 'GDCLASS;VARIANT_ENUM_CAST'
  - key: readability-identifier-naming.ClassCase
    value: 'CamelCase'
  - key: readability-identifier-naming.EnumCase
    value: 'CamelCase'
  - key: readability-identifier-naming.EnumConstantCase
    value: 'UPPER_CASE'
  - key: readability-identifier-naming.FunctionCase
    value: 'lower_case'
  - key: readability-identifier-naming.FunctionIgnoredRegexp
    value: '^((_.*)?|VARIANT_ENUM_CAST)$'
  - key: readability-identifier-naming.GlobalVariableCase
    value: 'lower_case'
  - key: readability-identifier-naming.GlobalVariableIgnoredRegexp
    value: '^((_.*)?|VARIANT_ENUM_CAST)$'
  - key: readability-identifier-naming.GlobalConstantCase
    value: 'UPPER_CASE'
  - key: readability-identifier-naming.GlobalConstantIgnoredRegexp
    value: '^((_.*)?|VARIANT_ENUM_CAST)$'
  - key: readability-identifier-naming.ClassConstantCase
    value: 'UPPER_CASE'
  - key: readability-identifier-naming.StaticConstantCase
    value: 'lower_case'
  - key: readability-identifier-naming.MemberCase
    value: 'lower_case'
  - key: readability-identifier-naming.MethodCase
    value: 'lower_case'
  - key: readability-identifier-naming.MethodIgnoredRegexp
    value: '^((_.*)?|GDCLASS)$'
  - key: readability-identifier-naming.ParameterCase
    value: 'lower_case'
  - key: readability-identifier-naming.ParameterPrefix
    value: 'p_'
  - key: readability-identifier-naming.VariableCase
    value: 'lower_case'
  - key: readability-identifier-naming.NamespaceCase
    value: 'lower_case'
  - key: readability-identifier-naming.StructCase
    value: 'CamelCase'
  - key: readability-identifier-naming.TypeAliasCase
    value: 'CamelCase'
  - key: readability-identifier-naming.TemplateParameterCase
    value: 'CamelCase'
  - key: readability-identifier-naming.StaticVariableCase
    value: 'lower_case'
  - key: readability-identifier-naming.StaticVariableIgnoredRegexp
    value: '^$'
  - key: readability-identifier-naming.PrivateMemberCase
    value: 'lower_case'
  - key: readability-identifier-naming.PrivateMemberIgnoredRegexp
    value: '^(_.*)?$'
  - key: readability-identifier-naming.ProtectedMemberCase
    value: 'lower_case'
  - key: readability-identifier-naming.PublicMemberCase
    value: 'lower_case'
  - key: readability-identifier-naming.ConstexprVariableCase
    value: 'UPPER_CASE'
  - key: readability-identifier-naming.MacroDefinitionCase
    value: 'UPPER_CASE'
  - key: readability-identifier-naming.IgnoredMacros
    value: 'GDCLASS;VARIANT_ENUM_CAST;ERR_FAIL_NULL_V;ERR_FAIL_COND_V_MSG;ERR_FAIL_COND_MSG'
